@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional global styles */
body {
  font-family: Inter, system-ui, sans-serif;
}



@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}
